.nav-left {
  display: flex;
  margin: 20px;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

.n-image {
  width: 180px;
  height: 40px;
}
.headers {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.sign in {
  display: flex;
  gap: 10px;
}

.log-icon {
  margin-right: 10px;
  font-size: 24px;
}

.signUp {
  background-color: #61ce70;
  color: white;
  font-weight: 400;
}

.label-contain {
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(236, 231, 231);
}

.icon-label {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.padding-range {
  padding: 5px;
}

.r-center {
}
.d-flex {
}
