.profile{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.profile-up{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-icons{
    font-size: 32px;
}

.post{
    display: flex;
}

.icon-title-name{
    font-size: 14px;
    color: black;
    font-weight: bold;
}